@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.inter{
    font-family: 'Inter', sans-serif;
}

.merriweather{
    font-family: 'Merriweather', serif;
    color: white;
}

/* work for fonts end */

body{
    margin: 0;
    padding: 0;
}



#hero {
    height: 600px;
    background-image: linear-gradient(
        180deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0) 100%
      ),
      url("../images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero .hero-content {
    width: 632px;
    text-align: center;
  }

  #hero  .subtitle{
    font-size: 32px;
  }
  #hero  .title{
    font-size: 72px;
  }

  /* OFFER section start */

  .offer{
    margin: 120px 0;
    display: flex;
    justify-content: center;
  }
  .offer .textandimg{
    width: 800px;
    height: 810px;
    text-align: center;
  }
  .offer .textandimg h1{
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
  }
  .offer .textandimg p{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}
.offer .textandimg h3{
    font-size: 48px;
    font-weight: bold;
}
  .offer .textandimg img{       
    width: 100%;
  }

  /* offer sec end */

  