@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.inter{
    font-family: 'Inter', sans-serif;
}

.merriweather{
    font-family: 'Merriweather', serif;
    color: white;
}

/* work for fonts end */

body{
    margin: 0;
    padding: 0;
}



#hero {
    height: 600px;
    margin: auto;
    background-image: linear-gradient(
        180deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0) 100%
      ),
      url("../images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero .hero-content {
    width: 632px;
    text-align: center;
  }

  #hero  .subtitle{
    font-size: 32px;
  }
  #hero  .title{
    font-size: 72px;
  }

  /* OFFER section start */

  .offer{
    
    display: flex;
    justify-content: center;
  }
  .offer .textandimg{
    width: 800px;
    height: 810px;
    text-align: center;
    margin: 30px 0 220px 0;
  }
  .offer .textandimg h1{
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
  }
  .offer .textandimg p{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}
.offer .textandimg h3{
    font-size: 48px;
    font-weight: bold;
}
  .offer .textandimg img{       
    width: 100%;
  }

  /* offer sec end */

.party{
    height: 600px;
    margin: auto;
    background-image: linear-gradient(
        90deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0) 100%
      ),
      url("../images/Vectorrr.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

    margin-bottom: 120px;
}
.party .textarea h1{
    font-size: 64px;
}
.party .textarea p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
    color: rgba(255, 255, 255, 0.79);
}
.party .textarea div button{
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    color: white;
    margin-left: 32px;
}



/* party ends */

.place{
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        180deg,
        rgba(255, 0, 0, .15) -19.5%,
        rgba(255, 0, 0, 0) 100%
      );
      margin-bottom: 120px;
      border-radius: 16px;
}
.place .textarea{
    width: 550px;
    height: 270px;
    text-align: center;
}
.place .textarea p{
    font-size: 32px;
    font-weight: 600;
}
.place .textarea span{
    color: red;
}
.place .textarea button{
    background-color: #FF0000;
    border-radius: 8px;
    padding: 16px 32px;
    color: white;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 48px;
}


/* place ends */

.comming-soon{
    display: flex;
    height: 465px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;

}
.comming-soon .textarea{
    width: 395px;
    height: 255px;
    margin-left: 10px;
}
.comming-soon .textarea .firstp{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.comming-soon .textarea h1{
    font-size: 48px;
    font-weight: 800;
    font-family: 'Merriweather', serif !important;
    
    
}
.comming-soon .textarea .lastp{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);

}

.comming-soon .image-box{
    width: 463px;
    height: 463px;
    border: 15px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.comming-soon .textandimg{
    width: 276px;
    height: 270px;
}
.comming-soon .textandimg h1{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin: 0;
}
.comming-soon .textandimg h1{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
}

.comming-soon .textandimg p{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}
.comming-soon .textandimg img{
    margin-top: 35px;
}

/* .comming-soon ends */

.holidays{
    height: 950px;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 120px;
 
}
.holidays .textarea{
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}
.holidays .textarea .firstp{
    font-size: 24px;
    font-weight: 500;
}
.holidays .textarea h1 span{
    color: #FF0000;
}
.holidays .textarea h1{
    font-size: 72px;
    font-weight: 800;
    font-family: 'Merriweather', serif !important;
    margin: 0;
}
.holidays .textarea .lastp{
    font-size: 20px;
    font-weight: 500;
    color:rgba(7, 2, 17, 0.6);
    line-height: 32px;
}

.holidays .imagesarea{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto 60px;
}
.holidays .imagesarea .img2{
    width: 250px;
    height: 250px;

}
.holidays .imagesarea .img1{
    width: 600px;
    height: 500px;

}